*#
.#*
/*.yaml
/*.yml
*.exe

/prometheus
/promtool
benchmark.txt
/data
/cmd/prometheus/data
/cmd/prometheus/debug
/benchout

!/.travis.yml
!/.promu.yml
!/.golangci.yml
/documentation/examples/remote_storage/remote_storage_adapter/remote_storage_adapter
/documentation/examples/remote_storage/example_write_adapter/example_writer_adapter

npm_licenses.tar.bz2
/web/ui/static/react
/web/ui/assets_vfsdata.go

/vendor
/.build
.idea/
v2/prometheus
v2/promtool
v2/*.yaml
v2/*.yml
v2/data
v2/cmd/prometheus/data
v2/cmd/prometheus/debug
v2/benchout

!/.travis.yml
!/.promu.yml
!/.golangci.yml
v2/documentation/examples/remote_storage/remote_storage_adapter/remote_storage_adapter
v2/documentation/examples/remote_storage/example_write_adapter/example_writer_adapter

v2/npm_licenses.tar.bz2
v2/web/ui/static/react
v2/web/ui/assets_vfsdata.go

v2/vendor
v2/.build


